DB_PASSWORD=postgres
DB_DATABASENAME= task_db
DB_USERNAME=postgres
DB_URL= localhost #postgres
DB_PORT=5432
SCHEMA=task
PORT=3001
BASE_API_PREFIX=api/v1
BASE_API_URL=localhost:3001
JWT_KEY=ANSWER_IS_FOURTY_TWO
PUBLIC_KEY=UNKNOWN_QUESTION